@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Light Mode */
[data-theme='light'] {
  --background: 255, 255, 255;
  --text: 38, 38, 38;
  --accent: 192, 220, 194;
  --blur: 38, 38, 38;
}

/* Dark Mode */
[data-theme='dark'] {
  --background: 38, 38, 38;
  --text: 255, 255, 255;
  --accent: 238, 239, 224;
  --blur: 255, 255, 255;
}

@theme {
  --color-primary: rgba(137, 186, 0);
  --color-background: rgba(var(--background));
  --color-text: rgba(var(--text));
  --color-accent: rgba(var(--accent));
  --color-blur: rgba(var(--blur));

  --font-heading: 'Outfit', sans-serif;
  --font-body: "Open Sans", sans-serif;
}

@layer base {
  body {
    @apply m-0 p-0 bg-background text-text;
  }
}

@layer utilities {
  .main {
    @apply container max-w-[1024px] mx-auto px-2 mt-2;
  }
  .item-hover {
    @apply transition duration-300 ease-in-out;
  }
  .item-hover:hover {
    @apply scale-110;
  }
}

@layer components {
  .flex-item-center {
    @apply flex items-center;
  }
  .nav-link {
    @apply font-body text-base text-text border-b border-primary/20 pb-2;
    @apply sm:border-none;
  }
  .nav-link:hover {
    @apply text-primary/50 border-primary/10;
  }
  .icon-button {
    @apply w-6 h-6 rounded-full;
    @apply sm:w-8 sm:h-8;
  }
  .icon-button:hover {
    @apply bg-primary/20;
  }
}

