@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Light Mode */
[data-theme='light'] {
  --background: 255, 255, 255;
  --text: 38, 38, 38;
  --accent: 192, 220, 194;
  --blur: 38, 38, 38;
}

/* Dark Mode */
[data-theme='dark'] {
  --background: 38, 38, 38;
  --text: 255, 255, 255;
  --accent: 238, 239, 224;
  --blur: 255, 255, 255;
}

@theme {
  --color-primary: rgba(137, 186, 0);
  --color-background: rgba(var(--background));
  --color-text: rgba(var(--text));
  --color-accent: rgba(var(--accent));
  --color-blur: rgba(var(--blur));

  --font-heading: 'Outfit', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --tracking-1: 0rem;
  --tracking-2: 0.025rem;
  --tracking-3: 0.05rem;
  --tracking-4: 0.1rem;
}

@keyframes hero-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}

@layer base {
  body {
    @apply m-0 p-0 bg-background text-text;
  }
}

@layer utilities {
  .main {
    @apply container max-w-[1024px] mx-auto px-2 mt-2;
  }
  .item-hover {
    @apply transition duration-300 ease-in-out;
  }
  .item-hover:hover {
    @apply scale-110;
  }
  .animate-hero-pulse {
    animation: hero-pulse 4s ease-in-out infinite;
  }
}

@layer components {
  .nav-link {
    @apply font-body text-sm text-text font-thin border-b border-primary/20 pb-2;
    @apply sm:border-none;
  }
  .nav-link:hover {
    @apply text-primary/50 border-primary/10;
  }

  .icon-button {
    @apply w-6 h-6 rounded-full;
    @apply sm:w-8 sm:h-8;
  }
  .icon-button:hover {
    @apply bg-primary/20;
  }

  .btn {
    @apply font-body text-sm tracking-4 font-semibold rounded-3xl px-4 py-2 transition duration-200 ease-in-out;
  }
  .btn:hover {
    @apply shadow-md scale-105 shadow-text/20;
  }
  .btn-fill {
    @apply text-background bg-primary;
  }
  .btn-line {
    @apply text-text bg-background border-[1px] border-primary;
  }

  .hero-circle {
    @apply absolute rounded-full border-2 border-primary/40 dark:border-primary/20;
  }
}
